$primaryColor: green;

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}
#root{
  text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 60vw;
    width: auto;
    margin: 0 auto;
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    &:nth-child(1){
      width: 35px;
    }
    &:nth-child(2){
      width: 50px;
    }
}
tr{
  &:nth-child(even){
    background: lightgray;
  }
}

th{
  @extend td;
  background: $primaryColor;
  color: white;
}
img{
  max-width: 50px;
}
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.active{
  border-bottom: 2px solid red;
  background: lighten($primaryColor, 10%);
}
.footer{
  text-align: center;
  padding-top: 20px;
  a {
      text-decoration: none;
      font-style: italic;
      color: $primaryColor;
      font-weight: bold;
      &:hover{
          text-decoration: underline;
      }
  }
}
#lastYear{
  &:hover{
    cursor: pointer;
  }
}
#recent{
  &:hover{
    cursor: pointer;
  }
}